$primary: #18a0fb;

#download {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 0 6px;
    a {
        color: #fff;
        cursor: pointer;
        background-color: $primary;
        font-weight: 500;
        padding: 5px 16px 5px 16px;
        border: 2px solid transparent;
        border-radius: 6px;
        display: table;
        text-decoration: none;
    }
    p {
        color: rgba(0, 0, 0, .8);
        margin: 0 0 8px 0;
    }
    img {
        display: block;
        max-width: 92px;
        max-height: 92px;
        border: 1px solid rgba(0, 0, 0, .2);
        padding: 8px;
        border-radius: 4px;
        margin: 0 0 8px 0;
    }
}
